body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    #cards {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 30px;

        #card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            border: 2px black solid;
            gap: 10px;

            img {
                height: 300px;
                width: 300px;
            }

            #title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;
                gap: 10px;

                #dis {
                    color: gray;
                }

                #price {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: end;
                    gap: 3px;

                    #rs {
                        font-size: 20px;
                        font-weight: bold;

                    }

                    #onwards {
                        color: gray;
                    }
                }

                #delivery {
                    font-size: 15px;
                    color: gray;
                    background-color: rgb(223, 234, 244);
                    padding: 2px 5px;
                    border-radius: 5px;


                }

                #ratings {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 3px;
                    color: gray;
                    #rating{
                        background-color: rgb(89, 250, 86);
                        padding: 3px 15px;
                        border-radius: 5px;
                        color: white;
                        font-weight: 700;

                    }
                }

            }




        }

    }



}